.sidebar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  padding-top: 35px;
  padding-bottom: 75px;
  color: #ffff;
  background-color: #009cdc;
  transform: translateX(-100%);
  transition: transform 0.2s;
  overflow-y: auto;

  &.active {
    transform: translateX(0);
  }

  &-logo {
    display: block;
    width: 197px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 40px;
  }

  details {
    summary {
      position: relative;
      display: block;
      border: 1px solid #27aae1;
      color: rgba($color: white, $alpha: 0.8);
      outline: none;
      padding: 15px 13px;
      margin-bottom: 5px;
      border-radius: 11px;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 15px;
        height: 15px;
        background-image: url("../../assets/play_arrow-1.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.2s;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
    &[open] {
      > summary {
        &:before {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
    nav {
      transition: all 0.25s;
      padding-left: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      a {
        display: inline-flex;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 300;
        color: white;
        text-decoration: none;

        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          top: 50%;
          left: -19px;
          width: 15px;
          height: 15px;
          background-image: url("../../assets/keyboard_arrow_right-1@2x.png");
          background-size: contain;
          background-repeat: no-repeat;
          transform: translateY(-50%) rotate(0);
          transition: transform 0.2s;
        }
        &:hover,
        &:focus {
          color: rgba($color: white, $alpha: 0.8);
        }
      }
    }
  }
}
